$primaria-roxo-cor: hsl(259, 79%, 59%);

$secudaria-branco-cor: hsl(0, 0%, 100%);
$secudaria-preto-cor: hsl(0, 0%, 0%);
$secudaria-cinza-cor:  hsl(0, 0%, 91%);

// cores das linguagens
$linguagem-laranja-cor: #F74E07;
$linguagem-azul-cor: #2862E9;
$linguagem-amarelo-cor: #F7E025;

