main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    // Importando o section01
    @import './section01/section01.scss';

    // Importando o section02
    @import './section02/section02.scss';

    // Importando o section03
    @import './section03/section03.scss';

    // Importando o section04
    @import './section04/section04.scss';

    // Importando o section05
    @import './section05/section05.scss';
}