// Importando as cores e fonts
@import './cores/cores.scss';
@import './fonts/font.scss';

// globais
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

// estilizando o barra de rolagem{
::-webkit-scrollbar {
    width: 10px;
    background-color: $secudaria-branco-cor;
}

::-webkit-scrollbar-thumb {
    background-color: $primaria-roxo-cor;
}

// estilizando o body
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    // Importando o header
    @import './body/header/header.scss';

    // Importando o main
    @import './body/main/main.scss';

    // Importando o footer
    @import './body/footer/footer.scss';

}

