* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Tahoma, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(259, 79%, 59%);
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20px;
}
body header #logo {
  display: flex;
  align-items: center;
}
body header #logo .nome {
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
body header #logo .nome:hover {
  color: hsl(259, 79%, 59%);
}
body header #abrir__menu {
  display: flex;
  font-size: 1.8em;
  cursor: pointer;
}
body header #menu__links {
  display: none;
  position: absolute;
  z-index: 1;
  top: 3.95em;
  right: 0;
  width: fit-content;
  height: fit-content;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px 0 0 20px;
}
body header #menu__links #links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
body header #menu__links #links a {
  width: 100%;
  padding: 1em 5em;
  text-align: center;
  text-decoration: none;
  color: hsl(259, 79%, 59%);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
}
body header #menu__links #links a:hover {
  background-color: hsl(259, 79%, 59%);
  color: hsl(0, 0%, 100%);
}
body header #menu__links #links a:nth-child(1) {
  border-radius: 20px 0 0 0;
}
body header #menu__links #links a:nth-child(3) {
  border-radius: 0 0 0 20px;
}
@media (width > 768px) {
  body header #abrir__menu {
    display: none;
  }
  body header #menu__links {
    display: flex;
    position: static;
    height: 100%;
  }
  body header #menu__links #links {
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    gap: 50px;
  }
  body header #menu__links #links a {
    font-size: 1em;
    padding: 0;
    color: hsl(0, 0%, 0%);
    transition: all 0.2s ease-in-out;
  }
  body header #menu__links #links a:hover {
    color: hsl(259, 79%, 59%);
    background-color: transparent;
  }
}
body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body main #container__Apresentacao {
  position: relative;
  height: calc(100vh - 3.95em);
  width: 100%;
  background-image: url("../img/fundoPrincipal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) inset;
}
body main #container__Apresentacao #apresentacao {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
body main #container__Apresentacao #apresentacao h1 {
  font-size: 2em;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
body main #container__Apresentacao #apresentacao h1 strong {
  display: block;
}
body main #container__Apresentacao #apresentacao a {
  background-color: hsl(259, 79%, 59%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  padding: 0.6em 2em;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
body main #container__Apresentacao #apresentacao a:hover {
  background-color: transparent;
  color: hsl(259, 79%, 59%);
  border: 1px solid hsl(259, 79%, 59%);
}
body main #container__Apresentacao #apresentacao p {
  font-size: 0.8em;
}
body main #container__Apresentacao nav {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 30%;
  display: none;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border-radius: 0 10px 10px 0;
  background-color: hsl(0, 0%, 100%);
}
body main #container__Apresentacao nav a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 0.8em;
  color: hsl(0, 0%, 0%);
  transition: all 0.5s ease-in-out;
}
body main #container__Apresentacao nav a i {
  font-size: 1.5em;
}
body main #container__Apresentacao nav a:hover {
  background-color: hsl(259, 79%, 59%);
  color: hsl(0, 0%, 100%);
}
body main #container__Apresentacao nav a:nth-child(1) {
  border-radius: 0 11px 0 0;
}
body main #container__Apresentacao nav a:nth-child(3) {
  border-radius: 0 0 11px 0;
}
@media (width >= 768px) {
  body main #container__Apresentacao {
    height: calc(100vh - 3.45em);
  }
  body main #container__Apresentacao #apresentacao {
    width: 50%;
  }
  body main #container__Apresentacao #apresentacao h1 {
    font-size: 3em;
  }
  body main #container__Apresentacao #apresentacao p {
    font-size: 1em;
  }
  body main #container__Apresentacao nav {
    display: flex;
  }
}
body main #container__Sobre {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 2em 0;
}
body main #container__Sobre h3 {
  font-size: 1.3em;
}
body main #container__Sobre .linha {
  width: 100px;
  height: 5px;
  background-color: hsl(259, 79%, 59%);
  border-radius: 10px;
}
body main #container__Sobre p {
  text-align: center;
  font-size: 0.8em;
  width: 90%;
}
@media (width >= 768px) {
  body main #container__Sobre p {
    font-size: 1em;
    width: 50%;
  }
}
body main #container__MeConhecer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "area1" "area2";
  grid-template-columns: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
  gap: 20px;
}
body main #container__MeConhecer #meConhecer {
  padding: 2em 1em;
  width: 100%;
  grid-area: area1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}
body main #container__MeConhecer #meConhecer .titulos__MeConhecer {
  font-size: 1.3em;
}
body main #container__MeConhecer #meConhecer p {
  font-size: 1em;
}
body main #container__MeConhecer #meConhecer p a {
  font-weight: 600;
  background-color: transparent;
  color: hsl(259, 79%, 59%);
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 1em;
  padding: 0;
  border: 0px solid transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
body main #container__MeConhecer #meConhecer p a:hover {
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  border: 0px solid hsl(259, 79%, 59%);
}
body main #container__MeConhecer #meConhecer a {
  background-color: hsl(259, 79%, 59%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  padding: 0.6em 2em;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
body main #container__MeConhecer #meConhecer a:hover {
  background-color: transparent;
  color: hsl(259, 79%, 59%);
  border: 1px solid hsl(259, 79%, 59%);
}
body main #container__MeConhecer #minhasHabilidades {
  grid-area: area2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  gap: 10px;
}
body main #container__MeConhecer #minhasHabilidades .titulos__MeConhecer {
  font-size: 1.3em;
}
body main #container__MeConhecer #minhasHabilidades ul {
  padding: 1em 0;
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body main #container__MeConhecer #minhasHabilidades ul li a {
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: hsl(0, 0%, 91%);
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}
body main #container__MeConhecer #minhasHabilidades ul li:nth-child(1) a:hover {
  background-color: #F74E07;
  color: hsl(0, 0%, 100%);
}
body main #container__MeConhecer #minhasHabilidades ul li:nth-child(2) a:hover {
  background-color: #2862E9;
  color: hsl(0, 0%, 100%);
}
body main #container__MeConhecer #minhasHabilidades ul li:nth-child(3) a:hover {
  background-color: hsl(259, 79%, 59%);
  color: hsl(0, 0%, 100%);
}
body main #container__MeConhecer #minhasHabilidades ul li:nth-child(4) a:hover {
  background-color: #F7E025;
  color: hsl(0, 0%, 100%);
}
body main #container__MeConhecer #minhasHabilidades ul li:nth-child(5) a:hover {
  background-color: #F74E07;
  color: hsl(0, 0%, 100%);
}
@media (width >= 768px) {
  body main #container__MeConhecer {
    grid-template-areas: "area1 area2";
    grid-template-columns: 1fr 1fr;
  }
  body main #container__MeConhecer #meConhecer {
    align-items: start;
    text-align: start;
  }
  body main #container__MeConhecer #meConhecer .titulos__MeConhecer {
    width: 100%;
    text-align: start;
    font-size: 1.3em;
  }
  body main #container__MeConhecer #meConhecer p {
    font-size: 1em;
  }
  body main #container__MeConhecer #minhasHabilidades {
    justify-content: start;
    align-items: start;
  }
  body main #container__MeConhecer #minhasHabilidades ul {
    justify-content: start;
    gap: 30px;
  }
  body main #container__MeConhecer #minhasHabilidades ul li a {
    font-size: 1em;
  }
}
body main #container__Projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 2em 1em;
}
body main #container__Projetos h3 {
  font-size: 1.3em;
}
body main #container__Projetos p {
  font-size: 0.8em;
  width: 90%;
}
body main #container__Projetos #projetos {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px 20px;
}
body main #container__Projetos #projetos .card {
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 4px solid hsl(259, 79%, 59%);
  border-radius: 20px;
}
body main #container__Projetos #projetos .card .links {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: hsla(259, 79%, 59%, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 1em;
  gap: 10px;
}
body main #container__Projetos #projetos .card .links h2 {
  font-size: 1.2em;
  color: hsl(259, 79%, 59%);
  background-color: hsl(0, 0%, 100%);
  padding: 0.5em;
  border-radius: 20px;
}
body main #container__Projetos #projetos .card .links a {
  padding: 1em 2em;
  text-decoration: none;
  font-size: 0.8em;
  color: hsl(259, 79%, 59%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
body main #container__Projetos #projetos .card .links a:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(259, 79%, 59%);
  border-radius: 20px;
}
body main #container__Projetos #projetos .card:hover {
  background-color: hsla(259, 79%, 59%, 0.5);
}
body main #container__Projetos #projetos .card:nth-child(1) {
  background-image: url("../img/projeto01.png");
}
body main #container__Projetos #projetos .card:nth-child(2) {
  background-image: url("../img/projeto02.png");
}
body main #container__Projetos #projetos .card:nth-child(3) {
  background-image: url("../img/projeto03.png");
}
body main #container__Projetos #projetos .card:nth-child(4) {
  background-image: url("../img/projeto04.png");
}
body main #container__Projetos #projetos .card:nth-child(5) {
  background-image: url("../img/projeto05.png");
}
body main #container__Projetos #projetos .card:nth-child(6) {
  background-image: url("../img/projeto06.png");
  background-position: top;
}
body main #container__Projetos p a {
  text-decoration: none;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
body main #container__Projetos p a:hover {
  color: hsl(259, 79%, 59%);
}
@media (width > 640px) {
  body main #container__Projetos p {
    font-size: 0.8em;
  }
  body main #container__Projetos #projetos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width > 768px) {
  body main #container__Projetos p {
    font-size: 1em;
  }
}
@media (width >= 960px) {
  body main #container__Projetos p {
    font-size: 1em;
  }
  body main #container__Projetos #projetos {
    grid-template-columns: repeat(3, 1fr);
  }
  body main #container__Projetos #projetos .card {
    width: 300px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid hsl(259, 79%, 59%);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
  }
  body main #container__Projetos #projetos .card .links {
    display: none;
  }
}
body main #container__Contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3em 1em;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2) inset;
}
body main #container__Contato h3 {
  font-size: 1.3em;
}
body main #container__Contato a {
  background-color: hsl(259, 79%, 59%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  padding: 0.6em 1em;
  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main #container__Contato a i {
  font-size: 1.2em;
}
body main #container__Contato a p {
  text-transform: uppercase;
}
body main #container__Contato a:hover {
  background-color: transparent;
  color: hsl(259, 79%, 59%);
  border: 1px solid hsl(259, 79%, 59%);
}
body footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  gap: 20px;
  padding: 1em;
}
body footer #container__Social {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
body footer #container__Social article:nth-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  gap: 20px;
  text-align: center;
}
body footer #container__Social article:nth-child(1) h3 {
  width: 100%;
  font-size: 1.2em;
}
body footer #container__Social article:nth-child(1) p {
  font-size: 0.8em;
}
body footer #container__Social article:nth-child(2) {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1em;
  color: hsl(0, 0%, 100%);
  gap: 20px;
}
body footer #container__Social article:nth-child(2) h3 {
  font-size: 1.2em;
}
body footer #container__Social article:nth-child(2) ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body footer #container__Social article:nth-child(2) ul a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 1.5em;
}
body footer #linha {
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 91%);
}
body footer p {
  color: hsl(0, 0%, 100%);
  font-size: 0.8em;
  text-align: center;
}
@media (width > 768px) {
  body footer {
    padding: 1em 2em;
  }
  body footer #container__Social {
    flex-direction: row;
    justify-content: space-between;
  }
  body footer #container__Social article:nth-child(1) {
    width: 40%;
  }
  body footer #container__Social article:nth-child(1) h3 {
    text-align: start;
  }
  body footer #container__Social article:nth-child(1) p {
    align-content: start;
    text-align: start;
  }
  body footer #container__Social article:nth-child(2) {
    width: 40%;
    text-align: end;
  }
  body footer #container__Social article:nth-child(2) ul {
    justify-content: end;
  }
  body footer #container__Social article:nth-child(2) ul a {
    font-size: 1.5em;
    transition: all 0.5s ease;
  }
  body footer #container__Social article:nth-child(2) ul a:hover {
    color: hsl(259, 79%, 59%);
  }
}

/*# sourceMappingURL=estilo.css.map */
