#container__MeConhecer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "area1" "area2";
    grid-template-columns: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    gap: 20px;

    #meConhecer {
        padding: 2em 1em;
        width: 100%;
        grid-area: area1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: center;

        .titulos__MeConhecer {
            font-size: 1.3em;
        }

        p {
            font-size: $font-size-paragrafo-desktop;

            a {
                font-weight: $weight-600;
                background-color: transparent;
                color: $primaria-roxo-cor;
                border: none;
                border-radius: 0px;
                cursor: pointer;
                font-size: 1em;
                padding: 0;
                border: 0px solid transparent;
                transition: all 0.2s ease-in-out;
                text-decoration: none;
                &:hover {
                    font-weight: $weight-600;
                    color: $secudaria-preto-cor;
                    border: 0px solid $primaria-roxo-cor;
                }
            }
        }

        a {
            background-color: $primaria-roxo-cor;
            color: $secudaria-branco-cor;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            padding: 0.6em 2em;
            border: 1px solid transparent;
            transition: all 0.5s ease-in-out;
            text-decoration: none;

            &:hover {
                background-color: transparent;
                color: $primaria-roxo-cor;
                border: 1px solid $primaria-roxo-cor;
            }
        }

    }

    #minhasHabilidades {
        grid-area: area2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        gap: 10px;


        .titulos__MeConhecer {
            font-size: 1.3em;
        }

        ul{
            padding: 1em 0;
            display: flex;
            gap: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li{
                a{
                    padding: 0.5em 1em;
                    border-radius: 10px;
                    background-color: $secudaria-cinza-cor;
                    font-size: $font-size-paragrafo-mobile;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $secudaria-preto-cor;
                    font-weight: $weight-400;
                    transition: all 0.5s ease-in-out;
                }
               
            }

            li:nth-child(1){
                a:hover{
                    background-color: $linguagem-laranja-cor;
                    color: $secudaria-branco-cor;
                }
            }

            li:nth-child(2){
                a:hover{
                    background-color: $linguagem-azul-cor;
                    color: $secudaria-branco-cor;
                }
            }

            li:nth-child(3){
                a:hover{
                    background-color: $primaria-roxo-cor;
                    color: $secudaria-branco-cor;
                }
            }

            li:nth-child(4){
                a:hover{
                    background-color: $linguagem-amarelo-cor;
                    color: $secudaria-branco-cor;
                }
            }
            li:nth-child(5){
                a:hover{
                    background-color: $linguagem-laranja-cor;
                    color: $secudaria-branco-cor;
                }
            }
        }

    }
}

@media (width >= 768px) {
    #container__MeConhecer {
        grid-template-areas: "area1 area2";
        grid-template-columns: 1fr 1fr;

        #meConhecer {
            align-items: start;
            text-align: start;

            .titulos__MeConhecer {
                width: 100%;
                text-align: start;
                font-size: 1.3em;
            }

            p {
                font-size: $font-size-paragrafo-desktop;
            }

        }

        #minhasHabilidades {
            justify-content: start;
            align-items: start;
            
            ul{
                justify-content: start;
                gap: 30px;
                
                li{
                    a{
                        font-size: $font-size-paragrafo-desktop;
                    }
                }
            }
        }

    }
}