header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;

    #logo{
        display: flex;
        align-items: center; 

        .nome{
            font-size: 1.2em;
            font-weight: $weight-600;
            text-transform: uppercase;
            color: #000;
            text-decoration: none;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: $primaria-roxo-cor;
            }
        }
    }

    #abrir__menu{
        display: flex;
        font-size: 1.8em;
        cursor: pointer;
    }

    #menu__links{
        display: none;
        position: absolute;
        z-index: 1;
        top: 3.95em;
        right: 0;
        width: fit-content;
        height: fit-content;
        background-color: $secudaria-branco-cor;
        border-radius: 20px 0 0 20px;

        #links{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;

            a{  
                width: 100%;
                padding: 1em 5em;
                text-align: center;
                text-decoration: none;
                color: $primaria-roxo-cor;
                font-size: 1.2em;
                text-transform: uppercase;
                font-weight: $weight-400;
    
                &:hover{
                    background-color: $primaria-roxo-cor;
                    color: $secudaria-branco-cor;
                }
            }

            a:nth-child(1){
                border-radius: 20px 0 0 0;
            }

            a:nth-child(3){
                border-radius: 0 0 0 20px;
            }
        }
    }
}

@media (width > 768px){
    header{

        #abrir__menu{
            display: none;
        }

        #menu__links{
            display: flex;
            position: static;
            height: 100%;


            #links{
                flex-direction: row;
                justify-content: space-between;
                width: fit-content;
                gap: 50px;

                a{
                    font-size: 1em;
                    padding: 0;
                    color: $secudaria-preto-cor;
                    transition: all 0.2s ease-in-out;

                    &:hover{
                        color: $primaria-roxo-cor;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}